.jumbotron {
    background-image: url("../img/contenidos36_269.jpg"); 
    background-size: cover;
    color: black;
    margin-top: 50px;
    
}

.btn {
    color: green;
}

.footer {
    padding: 10px 10px 0 10pxz;
    background-color: rgb(176, 243, 114);
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
}

.row-footer {
    margin: 10px;
}

.card-column {
    flex: 1 200px;
    margin: 5px;
}

.btn-column {
    width: 100%;
    border-radius: 0%;
}

.footer-address-icon {
    padding-right: 5px;
}

.tab-content {
    padding-top: 10px;
}

#button{
    color: white;
}