$yellow: #f8f412;
$black: rgb(0, 0, 0);
$green: rgb(0, 128, 0);
$white: rgb(255, 255, 255);

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}


.jumbotron {
    background-color: $yellow;
    color: $black;
    @include margenes(50px, 10px);
    
}

.btn {
    color: $green;
}

.footer {
    padding: 10px 10px 0 10pxz;
    background-color: $yellow;
    @include margenes(10px, 0px);
    text-align: center;
}

.row-footer {
    margin: 10px;
}

.card-column {
    flex: 1 200px;
    margin: 5px;
}

.btn-column {
    width: 100%;
    border-radius: 0%;
}

.footer-address-icon {
    padding-right: 5px;
}

.tab-content {
    padding-top: 10px;
}

#button{
    color: $white;
}